<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--Robert Local Database-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/facilitiesp2</property>-->
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password"></property>-->

        <!--Ray Local Database-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="connection.username">root</property>
        <property name="connection.password">EdWaRd</property>

        <!--GoogleCloud Database-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://173.194.243.115:3306/facilitiesp2</property>-->
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password">comp473</property>-->

        <!-- SQL dialect - generate SQL for a particular database -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL statements -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Mapping resource configuration files -->
        <mapping resource="Address.hbm.xml"/>
        <mapping resource="Building.hbm.xml"/>
        <mapping resource="Detail.hbm.xml"/>
        <mapping resource="Floor.hbm.xml"/>
        <mapping resource="Inspection.hbm.xml"/>
        <mapping resource="MaintenanceRequest.hbm.xml"/>
        <mapping resource="MaintenanceTicket.hbm.xml"/>
        <mapping resource="Occupancy.hbm.xml"/>
        <mapping resource="Room.hbm.xml"/>

    </session-factory>
</hibernate-configuration>